<%- include('partials/head') %>

<%- include('partials/nav') %>

    <h1>Make a Random num :<%= rand %></h1>
    <h2>The number is <%= rand%2===0 ? 'even' : 'odd' %></h2>

    
    
    
    
    
<%- include('partials/htmlfoot') %>